# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\计算机基础\mall系统\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
